.formContacto
    hr 
    .title__form
        h2 ponerse en contácto 
        hr 

    .modal__container
        .modal__form
            form
                .div__info__container
                    .div__info__items
                        i.lnr.lnr-user
                        input(type="text" placeholder="Juan Lizcano")
                    
                    .div__info__items
                        i.lnr.lnr-envelope
                        input(type="text" placeholder="Juan@Example.com")

                    .div__info__items
                        i.lnr.lnr-phone-handset
                        input(type="text" placeholder="(300)455 5555")

                    .div__info__items.div__info__items__textarea
                        i.lnr.lnr-bubble
                        textarea(name="", cols="30", rows="10" placeholder="Your message...")
                
                .div__info__send
                    button 
                        i.fa.fa-paper-plane