.docentes__title
  h2 Docentes Tutores
.docentes__items
  .docentes__items__tutor
    figure
      img(src="http://lorempixel.com/200/200", alt="")
    figcaption Edisney Garcia Perdomo
    p tutor Sociedad NTIC

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, fugit? Asperiores, nisi? Eum, rem, expedita recusandae rerum quo maxime facere accusantium nisi quas quia consequatur quisquam, voluptas fugiat natus sequi.
  

  .docentes__items__tutor
    figure
      img(src="http://lorempixel.com/200/200", alt="")
    figcaption Alvaro Hernan Alarcón Lopez
    p tutor E-Logic

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, fugit? Asperiores, nisi? Eum, rem, expedita recusandae rerum quo maxime facere accusantium nisi quas quia consequatur quisquam, voluptas fugiat natus sequi.
  


  .docentes__items__tutor
    figure
      img(src="http://lorempixel.com/200/200", alt="")
    figcaption Jose Miguel Llanos Mosquera
    p Tutor Mamba

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, fugit? Asperiores, nisi? Eum, rem, expedita recusandae rerum quo maxime facere accusantium nisi quas quia consequatur quisquam, voluptas fugiat natus sequi.
  


  .docentes__items__tutor
    figure
      img(src="http://lorempixel.com/200/200", alt="")
    figcaption Ivan Alarcón ávila
    p tutor Evolsystem

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, fugit? Asperiores, nisi? Eum, rem, expedita recusandae rerum quo maxime facere accusantium nisi quas quia consequatur quisquam, voluptas fugiat natus sequi.
  


  