.docentes__title
  h2 Docentes Tutores
.docentes__items

  .docentes__items__tutor
    figure
      img(src="../../../images/llanos.png", alt="")
    figcaption Jose Miguel Llanos Mosquera
    p.tutor Tutor Mamba

    p Ingeniero de Sistemas, Especialista en Arquitectura de Software, Magíster en Arquitectura de Software; líder del grupo de investigación: Innovación, Investigación y Desarrollo de Proyectos de Tecnologías de la Información - INPROTI del programa de Ingeniería de Sistemas.

  .docentes__items__tutor
    figure
      img(src="../../../images/edisney.png", alt="")
    figcaption Edisney Garcia Perdomo
    p.tutor tutora Sociedad NTIC

    p Ingeniera de Sistemas, Magíster en Gestión de la Tecnología Educativa de la Universidad Santander, Especialista en Administración de la Informática Educativa, Especialista en Alta Gerencia de la Universidad Surcolombiana, Especialista Formador(a) Pedagógico(a) Especializada en FP con Base en Competencias Laborales del Servicio Nacional  de Aprendizaje, SENA.
  

  .docentes__items__tutor
    figure
      img(src="../../../images/alvaro.png", alt="")
    figcaption Alvaro Hernan Alarcón Lopez
    p.tutor tutor E-Logic

    p Ingeniero Electrónico de la Universidad Surcolombiana, Especialista en Administración de la Informática Educativa de la Universidad de Santander, Magíster en Gestión de la Tecnología Educativa de la Universidad de Santander; con destreza para el trabajo en equipo, manejo de personal y liderazgo, experiencia docente en el área de Electrónica Automotriz en la educación media técnica y Redes de Datos en la educación superior.


  .docentes__items__tutor
    figure
      img(src="../../../images/ivan.png", alt="")
    figcaption Ivan Alarcón ávila
    p.tutor tutor Evolsystem

    p Ingeniero de Sistemas, Especialista en Gerencia Social, Administración de Empresas, Administración de la Informática Educativa y Magíster en Gestión de la Tecnología Educativa. Con amplia trayectoria laboral general y específica, de enfoque administrativo laboral y sinérgico. Con experiencia en implantación de sistemas de información y experiencia acreditada en consultoría e interventoría a contratos con empresas privadas y estatales.


  