.caracteristicas__title
    h2 Objetivo General
    p Desarrollar proyectos con el uso tecnologías de la información, para el departamento del Huila y sus apuestas productivas.
.caracteristicas

        
    .caracteristicas__items
        figure
            img(src="./images/caracteristicas/1.png", alt="images")
        p Crear semilleros de investigación con la participación activa de docentes y estudiantes.


    .caracteristicas__items
        figure
            img(src="./images/caracteristicas/2.png", alt="images")
        p Profundizar las temáticas definidas en la línea de investigación, para generar soluciones con alto impacto de innovación y tecnología.

            
    .caracteristicas__items
        figure
            img(src="./images/caracteristicas/5.png", alt="images")
        p Diseñar estrategias que permitan la clasificación del grupo, en el sistema nacional de ciencia y tecnología.
    

.caracteristicas
    .caracteristicas__items
        figure
            img(src="./images/caracteristicas/3.png", alt="images")
        p Identificar las necesidades de los sectores productivos y apuestas productivas del departamento del Huila, para desarrollar proyectos investigativos que permitan la solución de dichas necesidades.


    .caracteristicas__items
        figure
            img(src="./images/caracteristicas/4.png", alt="images")
        p Desarrollar investigaciones y productos, que impacten de manera directa al beneficio de la región y la comunidad.


            
    
    .caracteristicas__items
        figure
            img(src="./images/caracteristicas/6.png", alt="images")
        p Documentar los resultados obtenidos de las investigaciones.
