.courses
    .courses__title
        h2 siempre es bueno aprender un nuevo idioma
    .courses__container
        a(href="ingles.html").item
            figure
                img(src="./images/ingles.png", alt="image")
                figcaption inglés
        a(href="frances.html").item
            figure
                img(src="./images/frances.png", alt="image")
                figcaption francés