.estudiantes
    .estudiantes__title
        h2 Lo que dicen nuestros estudiantes
    
    .estudiantes__opinion

        .item__opinion
            .avatar 
                figure
                    img(src="./images/icono-03.png", alt="images")
            .description
                h2 Katherine Delgado
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas reiciendis, ratione fugit exercitationem, necessitatibus commodi. 
        
        
        .item__opinion
            .avatar
                figure
                    img(src="./images/icono-04.png", alt="images")
            .description
                h2 Nairo Quintana
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas reiciendis, ratione fugit exercitationem, necessitatibus commodi. 
        
        
        .item__opinion
            .avatar
                figure
                    img(src="./images/icono-02.png", alt="images")
            .description
                h2 Lucia Tovar
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas reiciendis, ratione fugit exercitationem, necessitatibus commodi. 
        
        
