mixin nav(active)
    
    .nav
        .nav__movil
            a(href="index.html")
                figure
                    img(src="./images/logos.png", alt="image")
            i.fa.fa-bars.fa-2x#iconMenu.iconMenu


        ul.nav__web#menu
            if(active === 'inicio')
                li.nav__web__items
                    a.nav__web__items__link.select-active(href="#inicio").scroll Inicio
            else 
                li.nav__web__items
                    a.nav__web__items__link(href="index.html").scroll Inicio


            if(active === 'cursos')
                li.nav__web__items
                    a.nav__web__items__link.select-active(href="#nosotros").scroll Nosotros
            else 
                li.nav__web__items
                    a.nav__web__items__link(href="#nosotros").scroll Nosotros


            if(active === 'servicios')
                li.nav__web__items
                    a.nav__web__items__link.select-active(href="#objetivos").scroll Objetivos
            else
                li.nav__web__items
                    a.nav__web__items__link(href="#objetivos").scroll Objetivos
            
            if(active === 'placement')
                li.nav__web__items
                    a.nav__web__items__link.select-active(href="#semilleros").scroll Semilleros
            else
                li.nav__web__items
                    a.nav__web__items__link(href="#semilleros").scroll Semilleros


            if(active === 'the-yes-factor')
                li.nav__web__items
                    a.nav__web__items__link.select-active(href="#docentes").scroll Docentes
            else
                li.nav__web__items
                    a.nav__web__items__link(href="#docentes").scroll Docentes
            


            
                       


