.footer
    .footer__img
        figure
            img(src="./images/corhuila.png", alt="")
    .footer__description
        h2 Lorem ipsum dolor sit.
        p  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente dolores quaerat corporis, libero officiis delectus quia ad perspiciatis odio rem.
    
    //- .footer__description
    //-     h2 Lorem ipsum dolor sit.
    //-     p  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente dolores quaerat corporis, libero officiis delectus quia ad perspiciatis odio rem.
   
    //- .footer__description
    //-     h2 Lorem ipsum dolor sit.
    //-     p  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente dolores quaerat corporis, libero officiis delectus quia ad perspiciatis odio rem.
    
    //- .footer__contenedor
        //- .footer__link
            ul
                li: a(href="contacto.html") Contáctenos
                li: a(href="nosotros.html") Nosotros
                li: a(href="placement-test.html") Placement Test
                li: a(href="faqs.html") Faqs
                li: a(href="./pdf/politicas.pdf", title="politicas" target="_blank") Políticas de Datos

        .footer__socialmedia
            a(target="_blank" href="http://bit.ly/2jNvsTV").footer__socialmedia__items
                i.fa.fa-facebook 
                p facebook
            a(target="_blank" href="http://bit.ly/2jdaPQ7").footer__socialmedia__items
                i.fa.fa-twitter
                p twitter
                
            a(target="_blank" href="http://bit.ly/2jNhMrR").footer__socialmedia__items
                i.fa.fa-instagram 
                p instagram
                
            a(target="_blank" href="http://bit.ly/2j1Engp").footer__socialmedia__items
                i.fa.fa-youtube-play 
                p youtube
    
.footer__derechos 
    p Copytight &copy; 2017 Improti - Diseñado Juan Lizcano

