.semilleros__title
  h2 Semilleros de Investigación

.semilleros__contenedor
  
  .semilleros__items
    figure
      img(src="./images/ntic.png", )
    figcaption Sociedad NTIC


  .semilleros__items
    figure
      img(src="./images/ntic.png", )
    figcaption EvolSystem



  .semilleros__items
    figure
      img(src="./images/mamba.png", )
    figcaption Mamba



  .semilleros__items
    figure
      img(src="./images/mamba.png", )
    figcaption E-Logic
