.semilleros__title
  h2 Semilleros de Investigación

.semilleros__contenedor
  
  .semilleros__items
    figure
      img(src="https://lorempixel.com/200/200", alt="logo")
    figcaption Sociedad NTIC


  .semilleros__items
    figure
      img(src="https://lorempixel.com/200/200", alt="logo")
    figcaption EvolSystem



  .semilleros__items
    figure
      img(src="https://lorempixel.com/200/200", alt="logo")
    figcaption Mamba



  .semilleros__items
    figure
      img(src="https://lorempixel.com/200/200", alt="logo")
    figcaption E-Logic
