.mision__container
  .mision__items
    figure
      img(src="./images/mv.png", alt="logo")

  .mision__items
    .mision__items__mision
      h2 Misión
      p INPROTI tiene como misión, desarrollar proyectos de Tecnologías de la Información, que obedezcan a las necesidades del entorno, mediante el uso de buenas prácticas.

    .mision__items__vision
      h2 Visión
      p En el año 2020, INPROTI será un grupo de investigación clasificado en el sistema nacional de ciencia, tecnología e innovación, que desarrolla proyectos de investigación para la región y sus apuestas productivas, en las áreas de ingeniería de software, nuevas estrategias y tecnologías en la educación y redes de datos.

